@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/Montserrat-Light.ttf);
}

/* Header section */
.mint-genie-image{
    display:inline-block;
    margin-left:30px;
}
.menu-image{
    height:18px;
    width:23px;
}
.link{
    color:#1A1A1A;
    font-family: Montserrat-SemiBold;
    font-size:13px;
}
.link:hover{
    background-color:#F7941D;
    padding:6px 14px;
    border-radius:50px;
    border:none;
    color:#ffffff;
}
link + link{
    margin-left:20px;
}
.searchicon{
    color:#1A1A1A;
    height:21px;
    width:21px;
    margin-right:20px;
}
.bellicon{
    color:#1A1A1A;
    height:25px;
    width:23px;
    margin-right:20px;
}
.bellafter-icon{
    color:#1A1A1A;
    height:27px;
    width:27px;
    margin-right:20px;
}
.header-top-text{
    color:#1A1A1A;
    font-family: Montserrat-Medium;
    font-size:10px;
}

.signin-button{
    background-color:white;
    border:none;
}

.market-text{
    color:#1A1A1A;
    font-family: Montserrat-SemiBold;
    font-size:13px;
    margin-top:28px;
    margin-bottom:11px;
}
.box{
    width:140px;
    min-height:100px;
    opacity:0.7;
    border-radius:10px;
    padding-top:20px;
    padding-bottom:17px;
    padding-left:20px;
}
.green-box{
    background-color:#F0F8F5;
    border:1px solid #CEF0E3;
}
.red-box{
    background-color:#F8F0F0;
    border:1px solid #F0CECE;
}
.box + .box{
    margin-left:16px;
}
.box-name{
    color:#575757;
    font-size:11px;
    font-family: Montserrat-Regular;
    display:inline-block;
    margin-right:3px;
}
.indices-number{
    font-family: Montserrat-Bold;
    font-size:17px;
    color:#1A1A1A;
}
.indices-percentage{
    font-family: Montserrat-SemiBold;
    font-size:11px;
}
.profit{
    color:#00B46F;
}
.loss{
    color:#F45151;
}
.brokers-text{
    color:#1A1A1A;
    font-family: Montserrat-Medium;
    font-size:15px;
}
.brokers-list{
    height:100px;
    width:100px;
    border-radius:10px;
    border:1px solid #DFE3EA;
    background-color:#ffffff;
    padding:20px 4px 12px 4px;
}
.slick-div{
    background-color:#DFE3EA;
    padding:30px;
    
}
.brokers-list + .brokers-list{
    margin-left:10px;
} 
.brokers-image{
    width:88px;
    
}
.forward-bg{
    display:inline-block;
    width:33px;
    height:33px;
    background-color: #C7C7C7;
    border:1px solid #707070;
    border-radius:100%;
    
}
.forward-image{
    display:inline-block;
    width:20px;
    height:20px;
    /* border:1px solid red;
    border-radius:100px;
    padding:8px 10px; */
}

/* investment section */
.bg-container{
    background-color:#6C63FF;
    min-height:432px;
}
.investments-img{
    width:457px;
    height:353px;
}
.investment-details{
    text-align:right;
    width:470px;
}
.heading{
    font-family: Montserrat-Bold;
    font-size:48px;
}
.white-color-heading, .white-color-para{
    color:#ffffff;
}
.black-color-heading, .black-color-para{
    color:#1A1A1A;
}
.paragraph{
    font-family: Montserrat-Regular;
    font-size:16px;
}
.click-button{
    min-height:50px;
    min-width:197px;
    background-color:#00FFFF;
    border:none;
    border-radius:5px;
    cursor: pointer;
    padding-top:16px;
    padding-bottom:15px;
    color:#000000;
    font-size:16px;
    font-family: Montserrat-Medium;
}
.battleground-container{
    background-color:#ffffff;
    min-height:535px;
}
.battle-ground-details{
    width:453px;
}
/* genie recomends */
.genie-container{
    min-height:432px;
    background-color:#F2F2F2;
}
.profile-details{
    text-align:right;
    width:382px;
}
/* Insurance container */
.insurance-container{
    min-height:432px;
    background-color:#ffffff;
}
.checkcirlce-image{
    display:inline-block;
    margin-right:7px;
}
.sub-text{
    font-size:13px;
    font-family: Montserrat-Light;
    color:#1A1A1A;
    display:inline-block;
    margin-right:16px;
}
.insurance-image{
    width:430px;
    height:350px;
    display:inline-block;
    margin-left:200px;
}

/* Financeapp section */
.financeapp-img{
    width:260px;
}

.finance-container{
    background-color:#6C63FF;
    min-height:544px;
}
.financeapp-img{
    width:260px;
    height:525px;
}
.store-button{
    font-family: Montserrat-SemiBold;
    min-height:54px;
    min-width:168px;
    font-size:16px;
    background-color:#ffffff;
    border:none;
    border-radius:50px;
    padding:9px 18px;
}
.financeapp-details{
    text-align:right;
    width:544px;
    margin-left:200px;
}
.content-space{
    display:inline-block;
    margin-left:9px;
}
button + button {
    margin-left:10px;
}
/* footer section */
.footer-container{
    background-color:#F2F2F2;
}
.label-text{
    display:inline-block;
    font-family: Montserrat-Bold;
    font-size:11px;
    margin-bottom:12px;
}
.input-container{
    position:relative;
}
.rightarrow{
    position:absolute;
    right:0;
    padding-right:12px;
    cursor:pointer;
}
.icons{
    width:38px;
    height:38px;
    border:1px solid #BCBCBC;
    border-radius:100px;
    font-size:24px;
    text-decoration:none;
    color:#575757;
    padding:12px;
}
.icons + .icons{
    margin-left:12px;
}
.footer-store-button{
    font-family: Montserrat-SemiBold;
    font-size:11px;
    background-color:#ffffff;
    border:1px #BCBCBC solid;
    border-radius:50px;
    padding:9px 18px;
    min-height:36px;
    min-width:112px;
}

.stocks-text{
    font-family: Montserrat-Bold;
    font-size:14px; 
    padding-right:6px;
    color:#1A1A1A;
}
.alphabets{
    font-family: Montserrat-Regular;
    font-size:14px;
    color:#575757;
    display:inline-block;
}
.bottom-line{
    border-bottom:1px dashed #575757;
    margin-bottom:28px;
}
.footer-list-title{
    font-family: Montserrat-Bold;
    font-size:14px; 
    color:#1A1A1A;
}
.footer-links{
    list-style-type: none;
    margin:0px;
    padding:0px;
}
.footer-list{
    font-family: Montserrat-Regular;
    font-size:14px;
    color:#575757;
    text-decoration:none;
    line-height:28px;
}
.copyright-sec{
    background-color:#ffffff;
    padding-top:18px;
    padding-bottom:18px;
}
.arrow{
    color:#000000;
    font-size:12px;
}

