$eerie_black:#1A1A1A;
$grey_color:#575757;
$white_color:#FFFFFF;
$black_color:#000000;
$green_color:#00B46F;
$red_color:#F45151; 
$blue_color:#6C63FF; 

$slick_background:#DFE3EA;
$button_hover:#F7941D;
$footer_background:#FAFAFA;
$genie_background:#F2F2F2;
$green_box_background:#F0F8F5;
$red_box_background:#F8F0F0;
$button_background:#00FFFF;

$font-montserrat:"Montserrat";
$font-rubik:"Rubik";




